<footer class="footer">
  <!-- Footer content -->
  <div class="footer__content">
    <!-- About us -->
    <div class="footer__content--about-us footer__content--section">
      <i class="fas fa-user-friends icons"></i>
      <h3
        class="footer__content--about-us__title footer__content--section__title"
      >
        About us
      </h3>

      <a
        href="#"
        class="footer__content--about-us__link footer__content--section__link"
        >History</a
      >
    </div>
    <!-- Church Servises -->
    <div class="footer__content--classes footer__content--section">
      <i class="fas fa-dumbbell icons"></i>
      <h3
        class="footer__content--classes__title footer__content--section__title"
      >
        Services
      </h3>

      <a
        href="#"
        class="footer__content--classes__link footer__content--section__link"
        >Find out more</a
      >
    </div>

    <!-- Head office -->
    <div class="footer__content--address footer__content--section">
      <!-- Address -->
      <i class="fas fa-map-marked-alt icons"></i>
      <h3
        class="footer__content--address__title footer__content--section__title"
      >
        Head office
      </h3>
      <p class="footer__content--address__para footer__content--section__para">
        Bomet
      </p>
      <!-- Email -->
      <p
        class="footer__content--address__para footer__content--section__para"
      ></p>
    </div>
  </div>

  <!-- Footer Logo -->
  <div class="footer__logo">
    <a href="/login">
      <i class="fas fa-church icons"></i>
      <span>Riverside Admin</span>
    </a>
  </div>

  <!-- Footer Social -->
  <div class="footer__social">
    <!-- Social Icons -->

    <div class="footer__social--icons">
      <!-- Facebook -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-facebook-f icons"></i>
      </a>

      <!-- YouTube -->
      <a href="" class="footer__social--icons__link">
        <i class="fab fa-youtube icons"></i>
      </a>
    </div>
  </div>
</footer>

<script src="/bundled/bundle.js"></script>
