<!-- Header section -->
<header class="header">
  <!-- Navigation -->
  
  <nav class="header__nav">
    <ul class="header__nav--links">
      
      <li>
        <a class="header__nav--links__item" href="/admin">Admin</a>
      </li>
      <li><a class="header__nav--links__item" href="/">Tithing Records</a></li>
    </ul>
  </nav>
  <h1 class="modify__heading">AGC RIVERSIDE TITHES MANAGEMENT SYSTEM</h1>
  
</header>
