@charset "UTF-8";
::selection {
  background-color: var(--color-primary);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --color-primary: hsl(87, 98%, 34%);
  --color-primary-m: hsla(87, 100%, 45%, 0.55);
  --color-secondary: hsl(274, 99%, 72%);
  --color-secondary-m: hsla(274, 99%, 72%, 0.6);
  --color-tertiary: hsl(185, 36%, 47%);
  --color-tertiary-m: rgba(38, 52, 65, 0.65);
  --color-quaternary: rgb(255, 235, 153);
  --color-quaternary-m: rgba(192, 162, 43, 0.65);
  --color-quinary: white;
  --color-quinary-m: rgba(255, 255, 255, 0.5);
  --color-error: #ff0000f6;
  --color-error-m: #ff0000a6;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', san-serif;
  line-height: 1.9;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.6667rem) [col-end]
    )
    [center-end] 1fr [container-end];
}

li {
  list-style: none;
}

a:link,
a:visited {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: calc(1.2rem + 0.5vw);
  border: none;
  position: relative;
  transition: all 2s ease-in-out;
}

a:hover,
a:active {
  border-radius: 0.1rem;
}

a:link::after,
a:visited::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a:hover::after,
a:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icons {
  color: white;
  font-size: calc(1.5rem + 2vw);
}

.showcase,
.motto,
.features__content:nth-child(1),
.features__content:nth-child(2),
.features__content:nth-child(3),
.features__content:nth-child(4),
.features__content:nth-child(5),
.features__content:nth-child(6),
.features__content:nth-child(7),
.features__content:nth-child(8),
.features__content:nth-child(9),
.testimonials,
.clients,
.register,
.footer,
.create,
.wholesermon,
.departments,
.tithes,
.modify,
.createModify {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase,
.motto,
.trainers,
.testimonials,
.clients,
.register,
.footer,
.sermons,
.create,
.wholesermon,
.departments,
.tithes,
.modify,
.createModify {
  padding: 6vh 4vw;
}

.header__submenu h4,
.motto__content--title,
.features__content--title,
.trainers__title,
.testimonials__title,
.clients__title,
.sermons__title,
.slider__img-container--list__item--content__title,
.wholesermon__content--title,
.departments__content--title,
.tithes__content--title,
.tithes__content--heading {
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: white;
}

.motto__content--para,
.features__content--para,
.testimonials__content--slider__slide--para,
.slider__img-container--list__item--content__title,
.wholesermon__content--para,
.departments__content--para,
.tithes__content--para {
  font-size: calc(1.2rem + 0.5vw);
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 0.2rem;
}

.trainers__content--card__name,
.testimonials__content--slider__slide--title,
.footer__content--section__title,
.sermons__content--card__name,
.sermons__content--card__title {
  font-size: calc(1.2rem + 0.5vw);
  color: white;
}

.trainers__content--card__specialty,
.sermons__content--card__specialty {
  color: white;
}

.sidebar-sublinks {
  position: relative;
  z-index: 1;
}

.sidebar-sublinks::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar-header {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: calc(1.2rem + 0.5vw);
  border: none;
  position: relative;
  transition: all 2s ease-in-out;
}

.sidebar-header:hover,
.sidebar-header:active {
  border-radius: 0.1rem;
}

.header {
  grid-column: container-start / container-end;
}

.header .toggle-btn {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.header__nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav div img {
  margin-left: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.header__nav--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: calc(1rem + 0.2vw);
}

.header__nav--links__item {
  height: 100%;
  background: transparent;
  border-color: transparent;
  font-size: 1.1rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.header__sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -999;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  background: #c171fe;
}

.header__sidebar-wrapper.show {
  visibility: visible;
  z-index: 3;
  transform: scale(1);
}

.header__sidebar-wrapper--sidebar {
  width: 90vw;
  height: 95vh;
  max-width: 620px;
  background: #4d9ca3;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 4rem 2rem;
}

.header__sidebar-wrapper--sidebar__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header__submenu {
  background: rgba(38, 52, 65, 0.65);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  /* top: 4rem; */
  /* left: 50%; */
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 0.75rem;
}

.header__submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(38, 52, 65, 0.65);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.header__submenu.show {
  display: block;
}

.header__submenu.-center {
  display: grid;
  gap: 0.25rem 2rem;
}

.header__submenu.-center a {
  width: 10rem;
  display: block;
  color: #ffeb99;
  text-transform: capitalize;
}

.header__submenu.-center i {
  color: #ffeb99;
  margin-right: 1rem;
}

.header__submenu h4 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 800px) {
  .header .toggle-btn {
    z-index: 2;
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    border: none;
    background: rgba(193, 113, 254, 0.6);
    color: white;
  }
}

.sidebar-sublinks {
  display: none;
}

.showsublinks {
  background-color: rgba(193, 113, 254, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(1rem + 1vh);
  border-radius: 0.75rem;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #ffeb99;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: ' ►';
}

details[open] summary:after {
  content: ' ▼';
}

.showcase {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
      var(--color-secondary-m),
      var(--color-tertiary-m)
    ),
    url(../img/showcase/showcase_bg.jpeg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.showcase__content {
  display: flex;
  flex-direction: column;
}

.showcase__content--title {
  text-align: center;
  font-size: calc(1.5rem + 5vw);
  font-weight: 300;
  background-image: linear-gradient(
    135deg,
    var(--color-secondary),
    var(--color-quinary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.showcase__content--para {
  font-size: calc(1.5rem + 1vw);
  font-weight: 300;
  color: var(--color-quinary);
  margin-bottom: calc(1rem + 2vw);
}

.showcase__content--links {
  display: flex;
  justify-content: center;
}

.showcase__content--links a:link,
.showcase__content--links a:visited {
  font-size: calc(1.2rem + 0.5vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  text-transform: uppercase;
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.showcase__content--links a:link:first-child,
.showcase__content--links a:visited:first-child {
  background-color: var(--color-tertiary);
  border: 0.2rem solid var(--color-tertiary);
  color: var(--color-quinary);
  margin-right: calc(1rem + 2vw);
}

.showcase__content--links a:link:last-child,
.showcase__content--links a:visited:last-child {
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-secondary);
  color: var(--color-quinary);
}

.showcase__content--links a:link:first-child::before,
.showcase__content--links a:visited:first-child::before,
.showcase__content--links a:link:last-child::before,
.showcase__content--links a:visited:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-quinary);
  border-radius: inherit;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.showcase__content--links a:hover:first-child::before,
.showcase__content--links a:active:first-child::before,
.showcase__content--links a:hover:last-child::before,
.showcase__content--links a:active:last-child::before {
  transform: scale(1);
}

.showcase__content--links a:hover:first-child,
.showcase__content--links a:active:first-child {
  color: var(--color-secondary);
}

.showcase__content--links a:hover:last-child,
.showcase__content--links a:active:last-child {
  color: var(--color-tertiary);
}

@media screen and (max-width: 800px) {
  .showcase__content--title {
    text-align: left;
  }
  .showcase__content--links {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .showcase {
    padding: 4rem;
  }
  .showcase__content--title {
    font-size: calc(2.5rem + 5vw);
    font-weight: 400;
  }
  .showcase__content--para {
    font-size: 2rem;
  }
  .showcase__content--links a:link,
  .showcase__content--links a:visited {
    font-size: calc(1.2rem + 0.5vw);
  }
}

@media screen and (max-width: 400px) {
  .showcase__content--links {
    flex-direction: column;
    align-items: flex-start;
  }
  .showcase__content--links a:link,
  .showcase__content--links a:visited {
    display: inline-block;
  }
  .showcase__content--links a:link:first-child,
  .showcase__content--links a:visited:first-child {
    margin-bottom: 5vw;
  }
}

.motto {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
}

.motto__content {
  display: grid;
  grid-row-gap: 4vh;
  background-color: var(--color-tertiary-m);
  padding: 2rem;
}

.motto__content--link:link,
.motto__content--link:visited {
  background: none;
  place-self: start;
  padding: 0.7rem 1.5rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.motto__content--link:link span,
.motto__content--link:visited span {
  display: block;
  position: absolute;
}

.motto__content--link:link span:first-child,
.motto__content--link:visited span:first-child {
  top: 0;
  left: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 1s;
}

.motto__content--link:link span:nth-child(2),
.motto__content--link:visited span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(180deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 0.75s;
}

.motto__content--link:link span:nth-child(3),
.motto__content--link:visited span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--color-primary));
  transition: 0.7s;
  transition-delay: 0.25s;
}

.motto__content--link:link span:nth-child(4),
.motto__content--link:visited span:nth-child(4) {
  top: 100%;
  left: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(360deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 0s;
}

.motto__content--link:hover,
.motto__content--link:active {
  background: var(--color-primary);
  transition-delay: 1s;
}

.motto__content--link:hover span:first-child,
.motto__content--link:active span:first-child {
  left: 100%;
  transition-duration: 1s;
  transition-delay: 0s;
}

.motto__content--link:hover span:nth-child(2),
.motto__content--link:active span:nth-child(2) {
  top: 100%;
  transition-duration: 1s;
  transition-delay: 0.25s;
}

.motto__content--link:hover span:nth-child(3),
.motto__content--link:active span:nth-child(3) {
  right: 100%;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.motto__content--link:hover span:nth-child(4),
.motto__content--link:active span:nth-child(4) {
  top: -100%;
  transition-duration: 1s;
  transition-delay: 0.75s;
}

.features {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.features__content {
  display: grid;
  grid-gap: 2vw;
  padding: 2rem 4rem;
  height: 40rem;
  align-items: center;
}

.features__content--title {
  font-weight: 700 !important;
  text-align: center;
  align-self: end;
  position: relative;
  z-index: 1;
}

.features__content--title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-m);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.features__content:hover .features__content--title::before,
.features__content:active .features__content--title::before {
  transform: scaleX(1);
  transform-origin: left;
}

.features__content--para {
  font-weight: 500;
  background-color: var(--color-primary-m);
  padding: 1rem;
  text-align: center;
}

.features__content--link:link,
.features__content--link:visited {
  padding: 1rem 1.7rem;
  justify-self: start;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.features__content--link:link span,
.features__content--link:visited span {
  position: absolute;
  display: block;
}

.features__content--link:link span:nth-child(1),
.features__content--link:visited span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(90deg, transparent, var(--color-primary));
  animation: border1 1s linear infinite;
  animation-delay: 0s;
}

.features__content--link:link span:nth-child(3),
.features__content--link:visited span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(270deg, transparent, var(--color-primary));
  animation: border3 1s linear infinite;
  animation-delay: 0s;
}

.features__content--link:link span:nth-child(2),
.features__content--link:visited span:nth-child(2) {
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 100%;
  background-image: linear-gradient(180deg, transparent, var(--color-primary));
  animation: border2 1s linear infinite;
  animation-delay: 0.5s;
}

.features__content--link:link span:nth-child(4),
.features__content--link:visited span:nth-child(4) {
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-image: linear-gradient(360deg, transparent, var(--color-primary));
  animation: border4 1s linear infinite;
  animation-delay: 0.5s;
}

.features__content--link:hover,
.features__content--link:active {
  background-color: var(--color-primary);
}

@media screen and (max-width: 400px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.features__content:nth-child(1) {
  background-image: url(../img/features/features-1.jpg);
}

.features__content:nth-child(2) {
  background-image: url(../img/features/features-2.jpg);
}

.features__content:nth-child(3) {
  background-image: url(../img/features/features-3.jpg);
}

.features__content:nth-child(4) {
  background-image: url(../img/features/features-4.jpg);
}

.features__content:nth-child(5) {
  background-image: url(../img/features/features-5.jpg);
}

.features__content:nth-child(6) {
  background-image: url(../img/features/features-6.jpg);
}

.features__content:nth-child(7) {
  background-image: url(../img/features/features-7.jpg);
}

.features__content:nth-child(8) {
  background-image: url(../img/features/features-8.jpg);
}

.features__content:nth-child(9) {
  background-image: url(../img/features/features-9.jpg);
}

@keyframes border1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes border3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes border2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes border4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.trainers {
  grid-column: center-start / center-end;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.trainers__title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-m);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

.trainers__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6vh calc(1rem + 1vw);
  place-items: center;
}

.trainers__content--card {
  display: grid;
  position: relative;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}

.trainers__content--card__specialty,
.trainers__content--card__name {
  position: absolute;
  bottom: 20%;
  left: 5%;
  transform: translate(-25rem, -15rem);
}

.trainers__content--card__name {
  bottom: 25%;
}

.trainers__content--card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.trainers__content--card:hover .trainers__content--card__img,
.trainers__content--card:active .trainers__content--card__img {
  filter: contrast(30%);
}

.trainers__content--card:hover .trainers__content--card__specialty,
.trainers__content--card:active .trainers__content--card__specialty,
.trainers__content--card:hover .trainers__content--card__name,
.trainers__content--card:active .trainers__content--card__name {
  animation: name 1.5s linear forwards;
  z-index: 1;
}

@keyframes name {
  0% {
    transform: translate(-25rem, -15rem);
    opacity: 0;
  }
  30% {
    transform: translate(8rem, -15rem);
    opacity: 0.3;
  }
  60% {
    transform: translate(8rem, 0rem);
    opacity: 0.6;
  }
  100% {
    transform: translate(0rem, 0rem);
    opacity: 1;
  }
}

.testimonials {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
}

.testimonials__title {
  text-align: center;
  margin-bottom: 4vh;
}

.testimonials__content {
  max-width: 100rem;
  margin: 0 auto;
}

.testimonials__content--slider {
  border: 0.1rem solid var(--color-quinary);
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 2vh 1vw;
}

.testimonials__content--slider__slide {
  display: none;
}

.testimonials__content--slider__slide--para {
  margin-bottom: 3rem;
}

.testimonials__content--slider__slide.active {
  display: block;
  animation: slide 1s linear;
}

.testimonials__content--indicator {
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  justify-content: center;
}

.testimonials__content--indicator__img {
  height: calc(7rem + 6vw);
  width: calc(7rem + 6vw);
  object-fit: cover;
  border-radius: 50%;
  margin: 2vh 2vw;
  opacity: 0.2;
  border: 0.2rem solid var(--color-quinary);
  cursor: pointer;
  transition: opacity 1s ease;
}

.testimonials__content--indicator__img.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .testimonials__content--indicator__img {
    height: calc(7rem + 5vw);
    width: calc(7rem + 5vw);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.clients {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
      var(--color-quaternary-m),
      var(--color-quaternary-m)
    ),
    url('../img/clients/clients-bg.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clients__title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500 !important;
  position: relative;
  align-self: center;
  padding: 1rem;
}

.clients__title::before,
.clients__title::after {
  content: '';
  position: absolute;
  top: 0;
  background-color: var(--color-quinary);
  height: 100%;
  width: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.clients__title::before {
  left: 0;
}

.clients__title::after {
  right: 0;
}

.clients__title:hover::before,
.clients__title:active::before,
.clients__title:hover::after,
.clients__title:active::after {
  height: 0.2rem;
  width: 100%;
}

.clients__title:hover::after,
.clients__title:active::after {
  top: 100%;
}

.clients__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.clients__content--img {
  background-color: var(--color-quinary-m);
  width: 20rem;
  margin: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  transition: transform 0.5s ease-in-out;
}

.clients__content--img img {
  width: 100%;
}

.clients__content--img:hover,
.clients__content--img:active {
  transform: scale(1.2);
}

.register {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  color: var(--color-quinary);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__progress {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 2rem;
}

.register__progress--step {
  font-size: 2rem;
  background-color: var(--color-tertiary-m);
  padding: 1rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-in;
}

.register__progress--step .icons {
  font-size: calc(1.2rem + 0.5vw);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register__progress--step .icons.active {
  display: block;
}

.register__progress--step span.active {
  display: none;
}

.register__progress__step.active {
  background-color: var(--color-quinary);
}

.register__content {
  width: 28rem;
  margin-top: 2rem;
  overflow: hidden;
}

.register__content--form {
  display: flex;
  justify-content: center;
}

.register__content--form__page {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 7rem);
  grid-row-gap: 4rem;
  align-items: start;
  transition: margin 0.5s ease-in-out;
}

.register__content--form__page--field {
  height: 4rem;
  width: 28rem;
}

.register__content--form__page--field label {
  font-size: 2rem;
}

.register__content--form__page--field input,
.register__content--form__page--field select {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.register__content--form__page--field select {
  color: black;
}

.register__content--form__page--field input:focus {
  background-color: var(--color-secondary-m);
}

.register__content--form__page--field button {
  padding: 0.8rem 1.7rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary-m);
  border: none;
  color: var(--color-quinary);
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.register__content--form__page--field button:hover,
.register__content--form__page--field button:active {
  background-color: var(--color-primary);
}

.footer {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-tertiary-m),
    var(--color-tertiary-m)
  );
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 8vh;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  place-content: center;
  grid-gap: 10rem 4vw;
}

.footer__content--section {
  display: grid;
  grid-row-gap: 1.5rem;
}

.footer__content--section__link:link,
.footer__content--section__link:visited {
  display: block;
  letter-spacing: initial;
}

.footer__content--section__para,
.footer__social--call p {
  color: var(--color-quinary);
  font-weight: 300;
  font-size: calc(1.2rem + 0.5vw);
}

.footer__content--section:first-child,
.footer__content--section:nth-child(2),
.footer__content--section:nth-child(3) {
  border-right: 0.1rem solid var(--color-quinary);
}

.footer__content--section:nth-child(3) {
  padding-right: 4vw;
}

.footer__content--section:nth-child(3) input[type='email'] {
  padding: 1rem;
  background-color: transparent;
  color: var(--color-quinary);
  border: 0.1rem solid var(--color-quinary);
  border-bottom: none;
  border-right: none;
}

.footer__content--section:nth-child(3) input[type='submit'] {
  background-color: transparent;
  border: none;
  color: var(--color-quinary);
  font-size: 1.5rem;
  border: 0.1rem solid var(--color-quinary);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.footer__content--section:nth-child(3) input[type='submit']:hover,
.footer__content--section:nth-child(3) input[type='submit']:active {
  background-color: var(--color-quinary);
  color: black;
}

.footer__content--section:last-child {
  padding-bottom: 4vw;
  border-bottom: 0.1rem solid var(--color-quinary);
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo img {
  height: 5rem;
  width: 5rem;
}

.footer__logo span {
  font-size: 2.5rem;
  color: var(--color-quinary);
  margin-left: 0.5rem;
  letter-spacing: 0.3rem;
  font-family: 'Balsamiq Sans', cursive;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__social--call {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.footer__social--call p,
.footer__social--call .icons {
  display: inline-block;
}

.footer__social--call .icons {
  font-size: 3rem;
}

.footer__social--call p {
  margin-left: 1rem;
}

.footer__social--icons {
  display: flex;
}

.footer__social--icons__link:link,
.footer__social--icons__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(0.5rem + 2vw);
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid var(--color-quinary);
  padding: 2.5rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.footer__social--icons__link:link .icons,
.footer__social--icons__link:visited .icons {
  font-size: 3rem;
}

.footer__social--icons__link:link::before,
.footer__social--icons__link:visited::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-quinary);
  border-radius: inherit;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.footer__social--icons__link:hover::before,
.footer__social--icons__link:active::before {
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .footer__social {
    justify-content: center;
  }
}

.sermons {
  grid-column: center-start / center-end;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sermons__title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-m);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

.sermons__search {
  border-radius: 0.5rem;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  margin: calc(1vw + 0.5rem);
}

.sermons__search div {
  display: flex;
  flex-wrap: wrap;
}

.sermons__search--btn {
  padding: calc(0.2rem + 0.1vw);
  margin: calc(0.2rem + 0.1vw);
  height: calc(2rem + 2vh);
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-family: 'Balsamiq Sans', cursive;
}

.sermons__search label {
  font-size: 2rem;
}

.sermons__search input {
  padding: calc(0.1rem + 0.1vw);
  margin: calc(0.1rem + 0.1vw);
  height: calc(2rem + 2vh);
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.sermons__search input:focus {
  background-color: var(--color-secondary-m);
}

.sermons__search--filter-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sermons__search--filter-box__btn,
.sermons__search--filter-box a {
  padding: calc(0.2rem + 0.1vh);
  margin: calc(0.2rem + 0.1vh);
  height: calc(2rem + 2vh);
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-family: 'Balsamiq Sans', cursive;
}

.sermons__search button:hover {
  background-color: var(--color-primary);
}

.sermons__search button.active {
  background-color: var(--color-tertiary-m);
}

.sermons__content {
  margin: calc(1vh + 1rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: calc(1rem + 1vw);
  place-items: center;
}

.sermons__content--card {
  border-radius: 0.5rem;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  padding: calc(1vh + 1rem);
  display: grid;
  position: relative;
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  font-size: 1.5rem;
}

.sermons__content--card__specialty,
.sermons__content--card__name {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.sermons__content--card__name {
  top: 0;
}

.sermons__content--card__name a {
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-secondary-m)
  );
}

.sermons__content--card__title {
  padding-top: 10%;
}

.sermons__content--card:hover,
.sermons__content--card:active {
  filter: contrast(130%);
}

@media screen and (max-width: 400px) {
  .sermons__content {
    margin: calc(1vh + 1rem) calc(1vw + 0.5rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: calc(0.5rem + 0.5vw);
    place-items: center;
  }
  .sermons__content--card {
    margin: calc(1vh + 1rem) calc(1vw + 0.5rem);
    padding: calc(0.1vh + 0.1rem);
    display: grid;
    position: relative;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    font-size: 2.5rem;
  }
}

.create {
  grid-column: container-start / container-end;
  color: var(--color-quinary);
  min-height: 100vh;
}

.create h1 {
  display: flex;
  justify-content: center;
  font-size: calc(2rem + 1vw);
  font-weight: 700;
}

.create__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.create__content--form {
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
}

.create__content--form__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.create__content--form__page--title {
  text-transform: uppercase;
  font-size: large;
  padding: calc(1rem + 1vh) calc(1rem + 1vh) 0 calc(1rem + 1vh);
}

.create__content--form__page--field {
  padding: calc(0.5rem + 1vh);
  margin-top: 2rem;
}

.create__content--form__page--field label {
  font-size: 2rem;
}

.create__content--form__page--field input,
.create__content--form__page--field select {
  height: calc(2rem + 2vh);
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.create__content--form__page--field textarea {
  height: 20vh;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.create__content--form__page--field select {
  color: black;
}

.create__content--form__page--field input:focus {
  background-color: var(--color-secondary-m);
}

.create__content--form__page--field textarea:focus {
  background-color: var(--color-secondary-m);
}

.create__content--form__page--field button {
  padding: 0.8rem 1.7rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary-m);
  border: none;
  color: var(--color-quinary);
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.create__content--form__page--field button:hover,
.create__content--form__page--field button:active {
  background-color: var(--color-primary);
}

.gallery-text {
  height: 90vh;
  background-color: var(--color-secondary);
  grid-column: container-start/col-start 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.gallery-text__content {
  transform: rotate(-0.25turn);
}

.gallery-text__content--title {
  font-weight: 800;
  color: white;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 600px) {
  .gallery-text {
    display: none;
  }
}

.slider {
  grid-column: col-start 1 / container-end;
  height: 90vh;
  background-color: var(--color-secondary-m);
  overflow: hidden;
  border: solid 0.2rem var(--color-secondary);
  position: relative;
}

.slider__img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.slider__img-container--list {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slider__img-container--list__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider__img-container--list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__img-container--list__item--content {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  background-color: var(--color-tertiary-m);
  max-width: 55%;
  color: white;
  padding: 3rem;
  transform: translateX(3rem);
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.slider__btn--right {
  right: 0;
}

.slider__nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 5%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

.slider__nav--btn {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
}

.current--img {
  background-color: var(--color-primary);
  opacity: 1;
}

.current--img .slider__img-container--list__item--content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  .slider .icons {
    font-size: 5rem;
  }
  .slider__nav {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5vh;
    grid-column-gap: 10vw;
    height: 12%;
  }
}

.wholesermon {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: inset 0 0 15px 20px var(--color-tertiary-m);
}

.wholesermon__content {
  display: grid;
  grid-row-gap: 4vh;
  padding: 2rem;
  display: inline-block;
}

.wholesermon__content--title {
  text-align: center;
  align-self: center;
  position: relative;
  z-index: 1;
}

.wholesermon__content--title::before {
  content: '';
  background-color: var(--color-tertiary-m);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.wholesermon__content--para {
  padding: 0 calc(2rem + 2vw);
  border: 2px solid var(--color-tertiary-m);
  z-index: 1;
}

.wholesermon__content--para::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.departments {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
}

.departments__content {
  display: grid;
}

.departments__content--title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-m);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

.departments__content--link:link,
.departments__content--link:visited {
  background: none;
  place-self: center;
  padding: 0.7rem 1.5rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.departments__content--link:link span,
.departments__content--link:visited span {
  display: block;
  position: absolute;
}

.departments__content--link:link span:first-child,
.departments__content--link:visited span:first-child {
  top: 0;
  left: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 1s;
}

.departments__content--link:link span:nth-child(2),
.departments__content--link:visited span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(180deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 0.75s;
}

.departments__content--link:link span:nth-child(3),
.departments__content--link:visited span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--color-primary));
  transition: 0.7s;
  transition-delay: 0.25s;
}

.departments__content--link:link span:nth-child(4),
.departments__content--link:visited span:nth-child(4) {
  top: 100%;
  left: 0;
  height: 100%;
  width: 0.2rem;
  background: linear-gradient(360deg, transparent, var(--color-primary));
  transition: 0.5s;
  transition-delay: 0s;
}

.departments__content--link:hover,
.departments__content--link:active {
  background: var(--color-primary);
  transition-delay: 1s;
}

.departments__content--link:hover span:first-child,
.departments__content--link:active span:first-child {
  left: 100%;
  transition-duration: 1s;
  transition-delay: 0s;
}

.departments__content--link:hover span:nth-child(2),
.departments__content--link:active span:nth-child(2) {
  top: 100%;
  transition-duration: 1s;
  transition-delay: 0.25s;
}

.departments__content--link:hover span:nth-child(3),
.departments__content--link:active span:nth-child(3) {
  right: 100%;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.departments__content--link:hover span:nth-child(4),
.departments__content--link:active span:nth-child(4) {
  top: -100%;
  transition-duration: 1s;
  transition-delay: 0.75s;
}

.page-btns {
  border-radius: 0.5rem;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  padding: calc(1vh + 1rem);
  margin: calc(1vh + 2rem);
}

.page-btns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-btns-container__prev {
  display: none;
}

.page-btns-container__next {
  display: none;
}

.page-btns-container button {
  margin: calc(0.2rem + 0.1vh);
  height: calc(2rem + 2vh);
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-family: 'Balsamiq Sans', cursive;
}

.page-btns-container button:hover {
  background-color: var(--color-primary);
}

.page-btns-container button.active {
  background-color: var(--color-tertiary-m);
}

.error {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px 15px var(--color-error-m),
    0 0 10px 5px var(--color-error);
}

.error__content {
  display: flex;
  flex-direction: column;
}

.error__content--title {
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  background-image: linear-gradient(
    135deg,
    var(--color-tertiary),
    var(--color-tertiary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.error__content--para {
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 300;
  margin-bottom: calc(1rem + 2vw);
  background-image: linear-gradient(
    135deg,
    var(--color-error),
    var(--color-error-m)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
}

@media screen and (max-width: 800px) {
  .error__content--title {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .error {
    padding: 4rem;
  }
  .error__content--title {
    font-size: calc(2.5rem + 5vw);
    font-weight: 400;
  }
  .error__content--para {
    font-size: 2rem;
  }
}

.tithes {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: inset 0 0 15px 20px var(--color-tertiary-m);
}

.tithes__content {
  display: grid;
  grid-row-gap: 4vh;
  padding: 2rem;
  display: inline-block;
}

.tithes__content--title {
  text-align: center;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.tithes__content--title::before {
  content: '';
  background-color: var(--color-tertiary-m);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.tithes__content--heading {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  z-index: 1;
}

.tithes__content--heading::before {
  content: '';
  background-color: var(--color-secondary-m);
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.tithes__content--para {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 calc(2rem + 2vw);
  border: 2px solid var(--color-tertiary-m);
  z-index: 1;
  text-transform: capitalize;
}

.tithes__content--para__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tithes__content--para__list--item {
  list-style: square;
  text-transform: capitalize;
  padding: calc(1vh + 0.5rem);
}

.tithes__content--para::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.modify {
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  grid-column: container-start / container-end;
  display: flex;
  flex-direction: column;
}

.modify__heading {
  text-transform: uppercase;
  text-align: center;
  padding: calc(1vh + 0.5rem) calc(1vw + 0.5rem);
  box-shadow: inset 0 0 5px 5px var(--color-secondary);
  z-index: 1;
  position: relative;
}

.modify__heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff00b3d5;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
  z-index: -1;
}

.modify__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: calc(1vh + 0.5rem) calc(1vw + 0.5rem);
  box-shadow: inset 0 0 5px 5px var(--color-secondary);
}

.modify__content--title {
  padding: 0.5rem;
  text-align: center;
}

.modify__content--link:link,
.modify__content--link:visited {
  padding: calc(1vh + 0.5rem) calc(1vw + 0.5rem);
  line-height: initial;
  padding: 0.8rem 1.7rem;
  background-color: var(--color-tertiary-m);
  border: none;
  color: var(--color-quinary);
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-bottom: calc(1vw + 0.5rem);
}

.modify__content--link:hover,
.modify__content--link:active {
  background-color: var(--color-primary);
}

.createModify {
  grid-column: container-start / container-end;
  color: var(--color-quinary);
  min-height: 100vh;
}

.createModify h1 {
  display: flex;
  justify-content: center;
  font-size: calc(2rem + 1vw);
  font-weight: 700;
}

.createModify__content {
  display: grid;
  grid-column: center-start / center-end;
  grid-column-gap: 1fr;
  margin-top: 2rem;
}

.createModify__content--form {
  grid-column: col-start 1 / col-end2;
  width: 30rem;
  background-image: linear-gradient(
    var(--color-secondary-m),
    var(--color-tertiary-m)
  );
}

.createModify__content--form__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.createModify__content--form__page--title {
  text-transform: uppercase;
  font-size: large;
  padding: calc(1rem + 1vh) calc(1rem + 1vh) 0 calc(1rem + 1vh);
}

.createModify__content--form__page--field {
  padding: calc(0.5rem + 1vh);
  margin-top: 2rem;
}

.createModify__content--form__page--field label {
  font-size: 2rem;
}

.createModify__content--form__page--field input,
.createModify__content--form__page--field select {
  height: calc(2rem + 2vh);
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.createModify__content--form__page--field textarea {
  height: 20vh;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-quinary-m);
  color: var(--color-quinary);
  letter-spacing: 0.2rem;
  font-family: 'Balsamiq Sans', cursive;
}

.createModify__content--form__page--field select {
  color: black;
}

.createModify__content--form__page--field input:focus {
  background-color: var(--color-secondary-m);
}

.createModify__content--form__page--field textarea:focus {
  background-color: var(--color-secondary-m);
}

.createModify__content--form__page--field button {
  padding: 0.8rem 1.7rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary-m);
  border: none;
  color: var(--color-quinary);
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
}

.createModify__content--form__page--field button:hover,
.createModify__content--form__page--field button:active {
  background-color: var(--color-primary);
}

.showcase,
.motto,
.features__content:nth-child(1),
.features__content:nth-child(2),
.features__content:nth-child(3),
.features__content:nth-child(4),
.features__content:nth-child(5),
.features__content:nth-child(6),
.features__content:nth-child(7),
.features__content:nth-child(8),
.features__content:nth-child(9),
.testimonials,
.clients,
.register,
.footer,
.create,
.wholesermon,
.departments,
.tithes,
.modify,
.createModify {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase,
.motto,
.trainers,
.testimonials,
.clients,
.register,
.footer,
.sermons,
.create,
.wholesermon,
.departments,
.tithes,
.modify,
.createModify {
  padding: 6vh 4vw;
}

.header__submenu h4,
.motto__content--title,
.features__content--title,
.trainers__title,
.testimonials__title,
.clients__title,
.sermons__title,
.slider__img-container--list__item--content__title,
.wholesermon__content--title,
.departments__content--title,
.tithes__content--title,
.tithes__content--heading {
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}

.motto__content--para,
.features__content--para,
.testimonials__content--slider__slide--para,
.slider__img-container--list__item--content__title,
.wholesermon__content--para,
.departments__content--para,
.tithes__content--para {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-quinary);
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 0.2rem;
}

.trainers__content--card__name,
.testimonials__content--slider__slide--title,
.footer__content--section__title,
.sermons__content--card__name,
.sermons__content--card__title {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-quinary);
}

.trainers__content--card__specialty,
.sermons__content--card__specialty {
  color: var(--color-quinary);
}

.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url('../img/scroll/scroll.svg');
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}

.alert--info {
  background-color: var(--color-secondary);
}

.buttons {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}
